.container {
  position: relative;
  height: 532px;
  width: 382px;

  filter: drop-shadow(5px 5px 5px black);

  background-image: url('../../assets/inventory.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.contents { 
  padding: 60px 45px;
  height: 412px;
}

/* .menu_container {
  position: absolute;
  top: 0; left: 0; right: 0;
  height: 50px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "search . . about . . . move";
}

.menu_search_area { grid-area: 'search'; }
.menu_search_area { grid-area: 'search'; }
.menu_search_area { grid-area: 'search'; } */